In [2]:
pip install --user pandas

Collecting pandas
  Downloading pandas-1.1.4-cp38-cp38-macosx_10_9_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 2.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.15.4
  Downloading numpy-1.19.4-cp38-cp38-macosx_10_9_x86_64.whl (15.3 MB)
     |████████████████████████████████| 15.3 MB 9.5 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting pytz>=2017.2
  Downloading pytz-2020.4-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 53.9 MB/s eta 0:00:01
Installing collected packages: pytz, numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/Users/rohankapadnis/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.19.4 pandas-1.1.4 pytz-2020.4
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --user matplotlib

Collecting matplotlib
  Downloading matplotlib-3.3.3-cp38-cp38-macosx_10_9_x86_64.whl (8.5 MB)
     |████████████████████████████████| 8.5 MB 4.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in /Users/rohankapadnis/.local/lib/python3.8/site-packages (from matplotlib) (1.19.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: six in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp38-cp38-macosx_10_9_x86_64.whl (61 kB)
     |████████████████████████████████| 61 kB 520 kB/s  eta 0:00:01
Collecting pillow>=6.2.0
  Downloading Pillow-8.0.1-cp38-cp38-macosx_10_10_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 22.6 MB/s eta 0:00:01
Requirement already satisfied: six in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Installing collected packages: pillow, kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.3 pillow-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
outbound_text = pd.read_csv("data/outbound_texts.csv")

In [7]:
outbound_text.head()

   text_id  uid text_date
0        1   98  6/2/2020
1        2   98  6/2/2020
2        3   98  6/2/2020
3        4   92  6/3/2020
4        5   76  6/3/2020

In [8]:
outbound_text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22334 entries, 0 to 22333
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text_id    22334 non-null  int64
 1   uid        22334 non-null  int64
 2   text_date  22334 non-null  object
dtypes: int64(2), object(1)
memory usage: 523.6+ KB

In [9]:
outbound_text.describe()

            text_id           uid
count  22334.000000  22334.000000
mean   11174.495836    151.134906
std     6448.721882    102.789183
min        1.000000      1.000000
25%     5589.250000     76.000000
50%    11175.500000    131.000000
75%    16758.750000    212.000000
max    22342.000000    468.000000

In [4]:
purchases = pd.read_csv("data/purchases.csv")

In [10]:
outbound_text.head()

   purchase id purchase_date  amount  commission  outbound_text_id
0            1      6/4/2020    89.9      14.384                 2
1            2      6/6/2020   218.7      24.057                19
2            3      6/6/2020    99.0       6.930                22
3            4      6/5/2020    52.0       8.320                30
4            5      6/4/2020    24.6       1.230                66

In [11]:
outbound_text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22334 entries, 0 to 22333
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text_id    22334 non-null  int64
 1   uid        22334 non-null  int64
 2   text_date  22334 non-null  object
dtypes: int64(2), object(1)
memory usage: 523.6+ KB

In [12]:
outbound_text.describe()

            text_id           uid
count  22334.000000  22334.000000
mean   11174.495836    151.134906
std     6448.721882    102.789183
min        1.000000      1.000000
25%     5589.250000     76.000000
50%    11175.500000    131.000000
75%    16758.750000    212.000000
max    22342.000000    468.000000

In [6]:
reaction = pd.read_csv("data/reactions.csv")

In [13]:
reaction.head()

   inbound_text_id inbound_ text _date reaction_type  outbound_text_id
0                6      6/3/2020 17:28         Loved                48
1                7      6/3/2020 17:28         Loved                31
2                8      6/3/2020 17:29         Loved               124
3                9      6/3/2020 17:29      Disliked               103
4               10      6/3/2020 17:29         Liked                38

In [14]:
reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7290 entries, 0 to 7289
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   inbound_text_id      7290 non-null   int64
 1   inbound_ text _date  7290 non-null   object
 2   reaction_type        7290 non-null   object
 3   outbound_text_id     7290 non-null   int64
dtypes: int64(2), object(2)
memory usage: 227.9+ KB

In [15]:
reaction.describe()

       inbound_text_id  outbound_text_id
count      7290.000000       7290.000000
mean       4018.975446      10477.386008
std        2156.065856       6493.169227
min           6.000000          1.000000
25%        2165.250000       4623.750000
50%        4016.500000      10223.500000
75%        5880.750000      16279.000000
max        7750.000000      22337.000000